<h1>Welcome</h1>
<P>Want some encouraging Bible verses?  Just select your topic below.</P>

<div class="aff-drop">
  <%= form_tag("/verses/show", method: "get") do %>
    <div class="aff-drop-select">
    <%= 
      prompt = "Select a keyword"
      keyword_options = @keywords.order(id: :desc).all.collect{ |k| [k.keyword.humanize, k.id] }
#      keyword_options.prepend([prompt,""])

      select_tag(
        "keyword_id[]", 
        options_for_select( 
            keyword_options, {
#              disabled: [prompt, ""]
            }
          ),           
        { 
          required: true,
          prompt: prompt
        }      
      ) %>
    </div>
  <%= submit_tag "Show", class: "aff-button"%> 
  <% end %>
</div>