@import '../node_modules/rfs/scss';

//===============================
//    COLORS
//

$wine: #6E0E29;
$dark_red: #8C0200;
$dark_blue: #041831;
$emerald: #0B4839;
$gold: #E4B669;
$dark: #333;
$light: #fff;
$med-light:  #ccc;
$med: #aaa;


$fore-color: $dark;
$back-back-color: $wine;
$back-color: $light;
$back-control-color: $emerald;

$standout-color: $wine;

$accent-color: $emerald;
$highlight-color: $gold;
$border-color: $wine;
$shadow-color: $med;
$light-shadow-color: $med-light;
$control-border-color: $wine;

//===============================
//    TYPOGRAPHY
//

$rfs-base-value: 1.5rem;

$font-stack: Georgia, Utopia, Times, "Times New Roman", serif;
$font-stack-alt: ‘Frutiger Linotype’, Univers, Calibri, ‘Gill Sans’, ‘Myriad Pro’, Myriad, ‘DejaVu Sans Condensed’, ‘Liberation Sans’, ‘Nimbus Sans L’, Tahoma, Geneva, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
$font-size: 1.5rem;
$line-height: 2.3em;

$h1: 1.6rem;
$h2: 1.5rem;
$h3: 1.4rem;
$h4: 1.3rem;
$h5: 1.2rem;


//===============================
//    LAYOUT SIZING
//

//--------------------------------
// border

$border-rad: 3px;
$border-thick: 1px;
$arrow-size: 6px;

//================================
//    OTHER VARIABLES

$trans-time: .3s;


