//===============================
//    COLORS
//

$wine: #6E0E29;
$dark_red: #8C0200;
$dark_blue: #041831;
$emerald: #0B4839;
$gold: #E4B669;
$dark: #333;
$light: #fff;
$med-light:  #ccc;
$med: #aaa;


$fore-color: $dark;
$back-back-color: $wine;
$back-color: $light;
$back-control-color: $emerald;

$standout-color: $wine;

$accent-color: $emerald;
$highlight-color: $gold;
$border-color: $wine;
$shadow-color: $med;
$light-shadow-color: $med-light;
$control-border-color: $wine;

//===============================
//    TYPOGRAPHY
//

$font-stack: Georgia, Utopia, Times, "Times New Roman", serif;
$font-stack-alt: ‘Frutiger Linotype’, Univers, Calibri, ‘Gill Sans’, ‘Myriad Pro’, Myriad, ‘DejaVu Sans Condensed’, ‘Liberation Sans’, ‘Nimbus Sans L’, Tahoma, Geneva, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
$line-height: 1.5em;


//===============================
//    LAYOUT SIZING
//

//--------------------------------
// border

$border-rad: 3px;

//================================
//    OTHER VARIABLES

$trans-time: .3s;

//================================
//    RESPONSIVE

$font-size: 16px;
$font-size-small: 20px;
$font-size-medium: 22px;
$font-size-large: $font-size;

// Pixel guidelines
// MAX-WIDTH
//    Desktop: 991px
//    Medium tablets: 767px
//    Phones: 479px



$breakpoints: (
  sm: 320px,
  md: 768px,
  lg: 1024px,
);

@mixin break($size){
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}







