@import '../node_modules/rfs/scss';
@import 'base';
@import 'v_browser';


$ctrl-font-size: 1.0rem;
$ctrl-font-size-select: 1.5rem;
$ctrl-font-size-option: 1.3rem;
$ctrl-line-height: 2.0rem;
$ctrl-height: 25rem;

$ctrl-font-color: $light;
$ctrl-border-color: $wine;
$ctrl-fill-color: $light;
$ctrl-back-color: $dark_blue;
$ctrl-border-color: $emerald;
$ctrl-shadow-color: $dark-blue;
$ctrl-light-shadow-color : $light-shadow-color;
$ctrl-highlight-color: $gold;

$ctrl-border-width: .063rem;
$ctrl-width: 100%;
$ctrl-min-width: 25rem; 
$ctrl-max-width: 30rem;
$ctrl-font-size: 2.0rem;
$ctrl-right: 0rem;
$ctrl-top: .6rem;

$ctrl-padding: .4rem;

$ctrl-opt-back: $accent-color;
$ctrl-opt-fore: $standout-color;

@mixin aff-font($stack, $size) {  
  font-family: $stack;
  @include font-size($size);
}

@mixin aff-border-shadow($aff-color) {
  border: 1px solid $aff-color;
  -moz-border-radius: $border-rad;
  -webkit-border-radius: $border-rad;
  -kthml-border-radius: $border-rad;
  border-radius: $border-rad;
  box-shadow: 0 7px 7px 0 $ctrl-shadow-color, 0 8px 22px 0 $ctrl-light-shadow-color;
  
}

//-----------------------------------------------------------------
//  Making a nice and pretty select box showing multiple rows
//  does not play well with mobile devices, so a dropdown is
//  what I have to use to expedite this mini-project

.aff-drop {
  text-align: center;
  @include aff-font($font-stack-alt, $ctrl-font-size);
}

.aff-drop form {
  font-family: $font-stack-alt;
  @include aff-font($font-stack-alt, $ctrl-font-size);

  display: inline-block;
}

.aff-drop-select select {
  color: $ctrl-back-color;
  background-color: $ctrl-font-color;
  
  font-family: $font-stack;
  @include aff-font($font-stack-alt, $ctrl-font-size-select);
  font-weight: bold;  
  line-height: $ctrl-line-height;
  -ms-word-break: normal;
  word-break: normal;   

  @include margin(1.5rem 1.5rem 3.0rem 1.5rem);
  @include padding(1.2rem 2.5rem);  
  @include aff-border-shadow($ctrl-border-color);
 
  &:active, &.active {
    background-color: $highlight-color;
  }
  &:focus, &.focus {
    background-color: $highlight-color;
  }
  
}

.aff-drop-select select option {
  color: $ctrl-font-color;
  background-color: $ctrl-back-color;

  font-weight:normal;
  @include aff-font($font-stack-alt, $ctrl-font-size-option);
  @include padding(1rem .2rem 1rem .2rem);
  @include margin(1rem .2rem 1rem .2rem);  

  &:hover, &:active {
    @include aff-border-shadow($ctrl-highlight-color);    
  }
}

.aff-drop-select select option:checked, .aff-drop-select select option[checked] {
  font-weight: bolder;
  color: $ctrl-back-color;
  background-color: $ctrl-font-color;
  @include aff-border-shadow($ctrl-highlight-color);    
}

.aff-drop-select select option:not(:checked), 
.aff-drop-select select option:not([checked]) {
  font-weight: normal;
  color: $ctrl-font-color;
  background-color: $ctrl-back-color;
  border-radius: 0;
  box-shadow: 0;  
}


.aff-drop-select select option[disabled], .aff-drop-select select option:disabled, .aff-drop-select select option:invalid {
  color: $dark;
  background-color: $light;
  font-weight: bolder;
  border: 1px solid $ctrl-highlight-color;
  border-radius: $border-rad;
  box-shadow: 0 7px 7px 0 $ctrl-shadow-color, 0 8px 22px 0 $ctrl-light-shadow-color;
}

//-----------------------------------------------------------------
//  SUBMIT BUTTON
//    Partly from https://css-tricks.com/overriding-default-button-styles/

.aff-button {
  background-color: $ctrl-back-color;
  color: $ctrl-font-color;

  @include aff-font($font-stack-alt, $ctrl-font-size);
  font-weight: normal;

  @include padding(.4rem .7rem);    
  @include aff-border-shadow($ctrl-border-color);

  display: inline-block;
  padding: .8rem 1.7rem;
  margin: 0 auto;
  text-decoration: none;

  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-width: 1px;
  box-shadow: 0 4px 4px 0 $ctrl-shadow-color, 0 7px 9px 0 $ctrl-light-shadow-color;    
}

.aff-button:hover,
.aff-button:focus {
    background-color: $ctrl-highlight-color;
    border-color: $ctrl-highlight-color;
}

.aff-button:focus {
    outline: 1px solid $light-shadow-color;
    outline-offset: -4px;
}

.aff-button:active {
    transform: scale(0.99);
}
