@import 'reset';
@import 'base';
@import 'controls';


//===============================
//    RESPONSIVE VIA RFS on GitHub
//       https://github.com/twbs/rfs
//       Installed in node_modules

//================================
// APPLY THEMED ELEMENTS

//--------------------------------
//  COLOR THEME

html {
  background-color: $back-back-color;
  color: $fore-color;
}

body {
  background-color: $back-color;
  color: $fore-color; 
}  

h1, h2, h3, h4, h5, h6 {
  color: $back-color;
  background-color: $standout-color;
}

em { color: $standout-color; }

a { color: $standout-color; }
a:visited { color: $accent-color; }
a:hover { color: $highlight-color; }

.aff-header, .aff-content, .aff-footer  {
  background-color: $back-color;
  color: $fore-color;  
}

.passage {
  border-color: $gold;  
  box-shadow: 0 7px 7px 0 $ctrl-shadow-color, 0 8px 22px 0 $ctrl-light-shadow-color;
}

.verse { color: $emerald; }
.ref { color: $dark_blue; }
.aff-footer { color: $emerald;}
.aff-footer .credit { color: $wine; }

.aff-footer .use {
  background-color: $med-light;
  color: $dark;
}

.aff-footer .version {
  color: $med;
}

//--------------------------------
//  TYPOGRAPHY

$display_xs: true;

html {
  font-family: $font-stack;
  font-size: $font-size;
}
* {
  line-height: 1.7em;
}
body {
  font-family: $font-stack;
  @include break(sm) { font-size: 1.1rem;}
  @include break(md) { font-size: 1.3rem;}
  @include break(lg) { font-size: 1.5rem;}
}

// for issue tracking 
.aff-screen-xs {
  display: inline;
  @include break(sm) { display: none; }
  @include break(md) { display: none; }
  @include break(lg) { display: none; }
}

.aff-screen-sm {
  @include break(sm) { display: inline; }
  @include break(md) { display: none; }
  @include break(lg) { display: none; }
}

.aff-screen-md {
  @include break(sm) { display: none; }
  @include break(md) { display: inline; }
  @include break(lg) { display: none; }
}

.aff-screen-lg {
  @include break(sm) { display: none; }
  @include break(md) { display: none; }
  @include break(lg) { display: inline; }
}


// tweaking typography for smaller elements
// and components

p {
  @include break(sm) { line-height: 1.7rem;}
  @include break(md) { line-height: 2rem;}
  @include break(lg) { line-height: 2rem;}

}

h1 { 
  font-weight: bolder;
  @include break(sm) { font-size: 1.3rem;}
  @include break(md) { font-size: 1.4rem;}
  @include break(lg) { font-size: 1.5rem;}
}

em { 
  font-style: italic;
  @include break(sm) { font-size: .9rem;}
  @include break(md) { font-size: 1rem;}
  @include break(lg) { font-size: 1.1rem;}
}

.aff-tagline {
  font-style: italic;  
  @include break(sm) { font-size: .9rem;}
  @include break(md) { font-size: 1rem;}
  @include break(lg) { font-size: 1.1rem;}
}

.verse {
  font-weight: 400;
  @include break(sm) { font-size: 1em;}
  @include break(md) { font-size: 1.1em;}
  @include break(lg) { font-size: 1.2em;}
}

.ref {
  font-weight: bolder;
  font-style: italic;
  @include break(sm) { font-size: 1.1em;}
  @include break(md) { font-size: 1.2em;}
  @include break(lg) { font-size: 1.3em;}
}

.aff-footer {
  @include break(sm) { font-size: .9rem;}
  @include break(md) { font-size: 1rem;}
  @include break(lg) { font-size: 1.1rem;}
}

.aff-footer .credit {
  font-style: italic;
  @include break(sm) { font-size: .8em;}
  @include break(md) { font-size: .9em;}
  @include break(lg) { font-size: 1em;}
}
.aff-footer .use {
  @include break(sm) { font-size: .7em;}
  @include break(md) { font-size: .8em;}
  @include break(lg) { font-size: .9em;}
}

.aff-footer .version {
  @include break(sm) { font-size: .65em;}
  @include break(md) { font-size: .7em;}
  @include break(lg) { font-size: .8em;}  
}


//================================
// LAYOUT

body {
  margin: .5em;
  padding: 1em .5em;
}

h1, h2, h3, h4, h5 {
  padding: .7em .6em .4em .7em;
  margin: .5em .5em .01em .01em;
}

p {
  padding: .5em .5em .01em .3em;
  margin: .02em .02em .01em .01em;
}

.aff-header, .aff-content, .aff-footer {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: .01em;
  margin-right: .01em;
}

.aff-header {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.aff-content, .aff-footer {
  padding-top: 2em;
  padding-bottom: 2em; 
  margin-top: 1em;
  margin-bottom: .02em;
}

.aff-header img {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.aff-tagline {
  position: relative;
  display: inline-block;

  margin: .02em .02em .01em .01em;
}

.aff-header, .aff-footer, .aff-content {
  box-shadow: 0 7px 7px 0 $shadow-color, 0 8px 22px 0 $light-shadow-color;
}

.passage { 
  border: 1px solid;
  border-radius: $border-rad;
  padding-top: .8em;
  margin: .8em; 
}

.verse { 
  padding: 2.2em 2.4em .02em 2.4em;   
}
.ref { 
  text-align: right;
  padding: 1em 2.0em 1.5em 2.5em; 
}

.aff-footer .version {
  padding-left: 1.2em;
}

.aff-footer .use {
  margin: 1.5em 0em .05em 0em;
  padding: .4em 1.2em .4em 1.2em;
}