//@import 'reset';
@import '../node_modules/rfs/scss';
@import 'base';
@import 'controls';


//===============================
//    RESPONSIVE VIA RFS on GitHub
//       https://github.com/twbs/rfs
//       Installed in node_modules

//================================
// APPLY THEMED ELEMENTS

//--------------------------------
//  COLOR THEME

html {
  background-color: $back-back-color;
  color: $fore-color;
}

body {
  background-color: $back-color;
  color: $fore-color; 
}  

h1, h2, h3, h4, h5, h6 {
  color: $back-color;
  background-color: $standout-color;
}

em { color: $standout-color; }

a {
  color: $standout-color; }

a:visited {
  color: $accent-color; }

a:hover {
  color: $highlight-color; }

.aff-header, .aff-content, .aff-footer  {
  background-color: $back-color;
  color: $fore-color;  
}

.passage {
  border-color: $gold;  
  box-shadow: 0 7px 7px 0 $ctrl-shadow-color, 0 8px 22px 0 $ctrl-light-shadow-color;
}

.verse {
  color: $emerald;
}

.ref {
  color: $dark_blue;
}

.aff-footer {
  color: $emerald;
}

.aff-footer .credit {
  color: $wine;
}

.aff-footer .use {
  background-color: $med-light;
  color: $dark;
}

.aff-footer .version {
  color: $med;
}

//--------------------------------
//  TYPOGRAPHY

html {
  font-family: $font-stack;
  line-height: $line-height;
}

body {
  @include font-size($font-size); 
  font-family: $font-stack;
  line-height: $line-height;  
}

h1 { @include font-size($h1); }
h2 { @include font-size($h2); }
h3 { @include font-size($h3); }
h4 { @include font-size($h4); }
h5 { @include font-size($h5); }

em { 
  @include font-size(1.05rem);
  font-style: italic;
}

button, input { 
  font-size: inherit }

.aff-tagline {
  @include font-size(1.2rem);
  font-style: italic;  
}

.verse {
  @include font-size(1.2rem);
  line-height: $line-height;
  font-weight: 400;
}
.ref {
  font-style: italic;
  @include font-size(1.4rem);
  font-weight: bolder;
}

.aff-footer {
  @include font-size(.8rem);
  line-height: 1.5em;
}

.aff-footer .credit {
  font-style: italic;
  @include font-size(1rem);
}

.aff-footer .version {
  font-size: x-small;
}


//================================
// LAYOUT

body {
  @include margin-top(.5rem);
  @include margin-bottom(.5rem);
  @include margin-right(.5rem);
  @include margin-left(.5rem);

  @include padding-top(1rem);
  @include padding-bottom(1rem);
  @include padding-right(.5rem);
  @include padding-left(.5rem);
}

h1, h2, h3, h4, h5 {
  @include padding-top(.9rem);
  @include padding-bottom(.6rem);
  @include padding-right(.4rem);
  @include padding-left(.75rem);

  @include margin-top(.5rem);
  @include margin-bottom(.5rem);
  @include margin-right(.01rem);
  @include margin-left(.01rem);
}

p {
  @include padding-top(.5rem);
  @include padding-bottom(.5rem);
  @include padding-right(.01rem);
  @include padding-left(.3rem);

  @include margin-top(.02rem);
  @include margin-bottom(.02rem);
  @include margin-right(.01rem);
  @include margin-left(.01rem);
}

.aff-header, .aff-content, .aff-footer {
  @include padding-left(1rem);
  @include padding-right(1rem);

  @include margin-left(.01rem);  
  @include margin-right(.01rem);

}

.aff-header {
  @include padding-top(0rem);
  @include padding-bottom(0rem);
  
  @include margin-top(0rem);
  @include margin-bottom(0rem);
}

.aff-content {
  @include padding-top(2rem);
  @include padding-bottom(2rem);

  @include margin-top(1rem);
  @include margin-bottom(.02rem);
}

.aff-footer {
  @include padding-top(2rem);
  @include padding-bottom(2rem);
  @include margin-top(1rem);
  @include margin-bottom(.02rem);
}

.aff-header img {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.aff-tagline {
  position: relative;
  display: inline-block;

  @include margin-top(.02rem);
  @include margin-bottom(.02rem);
  @include margin-right(.01rem);
  @include margin-left(.01rem);  
}

.aff-header, .aff-footer, .aff-content {
  box-shadow: 0 7px 7px 0 $shadow-color, 0 8px 22px 0 $light-shadow-color;
}

.affcontent { padding: 0; }

.passage { 
  border: 1px solid;
  border-radius: $border-rad;
  @include padding-top(.8rem);
  @include margin(.8rem); 
}
.verse { 
  @include padding(2.8rem 2.5rem .02rem 2.5rem); 
}
.ref { 
  text-align: right;
  @include padding(1.2rem 2.0rem 1.5rem 2.5rem); 
}

.aff-footer .version {
  @include padding-left(1.2rem);
}

.aff-footer .use {
  @include margin(1.5rem 0rem .05rem 0rem);
  @include padding(.4rem 1.2rem .4rem 1.2rem);
}